<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"32px","bottom":"48px"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide" style="padding-top:32px;padding-bottom:48px">
    <!-- wp:post-title {"level":1,"fontSize":"lg"} /-->
    <!-- wp:post-date {"format":"M j, Y"} /-->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
